body{
    font-family: Arial;
    background: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.calculator{
    background: white;

    padding: 30px;

    border-radius: 10px;

    width: 300px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input,
select,
button{
    width: 100%;

    padding: 10px;

    margin-top: 10px;
}

button{
    cursor: pointer;
}

#message{
    color: blue;
}

#result{
    color: green;
}